<!DOCTYPE html>
<html lang="en">
<head>
	<title>ECMA 2015</title>

	<meta charset="UTF-8" />
	<meta name="keywords" content="html,css,js" />
	<meta name="description" content="for MS Team Training" />
	<meta name="author" content="Xiaohui,xiaohui.ni@pwc.com" />
	<meta name="copyright" content="MIT" />

	<base href="http://localhost:3000/views/" />
	<base target="_self" />

	<style></style>

	<link rel="stylesheet" href="/stylesheet/common.css" />
	<link rel="stylesheet" href="/stylesheet/es2015.css">
</head>
<body class="addBorder">
	<p class="caption">body</p>
	<header class="addBorder">
		<p class="caption">header</p>
		<h1>ECMA 2015</h1>
	</header>

	<nav class="addBorder">
		<p class="caption">nav</p>		
		<a href="index.html">Home</a>
		<a href="http://es6.ruanyifeng.com/">tutorial</a>
	</nav>

	<section class="addBorder">
		<p class="caption">section</p>
		<fieldset>				
			<legend>Fixed design</legend>

		
		</fieldset>

		<fieldset>
			<legend>Responsive Design Style 1</legend>

		</fieldset>

		<fieldset>
			<legend>Responsive Design Style 1</legend>

		</fieldset>

		<fieldset>
			<legend>
				SVG
			</legend>

		</fieldset>

		<fieldset>
			<legend>
				Audio
			</legend>

		</fieldset>

		<fieldset>
			<legend>
				Video
			</legend>
			

		</fieldset>
	</section>

	<footer class="addBorder">
		<p class="caption">footer</p>
	</footer>

	<script src="/javascript/libs/jquery.min.js" async></script>
	<script src="/javascript/libs/lodash.min.js" async></script>
	<script src="/javascript/recorder.js" async></script>

</body>
</html>