<!DOCTYPE html>
<html lang="en">
<head>
	<title>Demo</title>

	<meta charset="UTF-8" />
	<meta name="keywords" content="html,css,js" />
	<meta name="description" content="for MS Team Training" />
	<meta name="author" content="Xiaohui,xiaohui.ni@pwc.com" />
	<meta name="copyright" content="MIT" />
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=0.5, user-scalable=no" />
	<meta name="renderer" content="webkit" />
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="expires" content="Fri,12Aug201718:18:18GMT" />
	<meta http-equiv="Pragma" content="no-cache" />
<!-- 	<meta http-equiv="Refresh" content="2;URL=http://www.baidu.com" /> -->
	<meta http-equiv="Window-target" content="_top" />
	<meta http-equiv="Content-Language" content="zh-cn" />

	<base href="http://localhost:3000/views/" />
	<base target="_self" />
<!-- 	<base target="_blank" /> -->

	<style></style>

	<link rel="icon" href="/resource/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/stylesheet/common.css" />
</head>
<body class="addBorder">
	<p class="caption">body</p>
	<header class="addBorder">
		<p class="caption">header</p>
		<h1>Hey Genius!!!</h1>
	</header>

	<nav class="addBorder">
		<p class="caption">nav</p>
		<a href="http://www.runoob.com/" target="_blank">RUNOOB</a>
		<a href="https://www.tutorialspoint.com/tutorialslibrary.htm" target="_blank">TutorialsPoint</a>
	</nav>

	<section class="addBorder">
		<p class="caption">section</p>
		<div id="left_side" class="addBorder">
			<p class="caption">left side</p>
		</div>
		<div id="right_side" class="addBorder">
			<p class="caption">right side</p>
			<h2>Contents</h2>
			<ol>
				<li>
					<a href="http://www.hurun.net/CN/HuList/Index?num=612C66A2F245">Browser Dev Tool</a>
				</li>
				<li>
					<a href="html_introduction.html">HTML Introduction</a>
				</li>
				<li>
					<a href="css_introduction.html">CSS Introduction</a>
				</li>
				<li>
					<a href="less_introduction.html">LESS/SASS/Stylus/PostCss Introduction</a>
				</li>
				<li>
					<a href="rd_introduction.html">Responsive Design Introduction</a>
				</li>
				<li>
					<a href="es2015.html">Javascript</a>
				</li>
			</ol>
		</div>
	</section>

	<footer class="addBorder">
		<p class="caption">footer</p>
	</footer>

	<script src="/javascript/app.js" defer></script>
	<script src="/javascript/libs/jquery.min.js" async></script>
	<script src="/javascript/libs/lodash.min.js" async></script>
</body>
</html>