<!DOCTYPE html>
<html lang="en">
<head>
	<title>Demo</title>

	<meta charset="UTF-8" />
	<meta name="keywords" content="html,css,js" />
	<meta name="description" content="for MS Team Training" />
	<meta name="author" content="Shawn,xiaohui.ni@pwc.com" />
	<meta name="copyright" content="pwc sdc" />
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" /> -->
	<meta name="viewport" content="width=375, initial-scale=1, maximum-scale=1, minimum-scale=1.0, user-scalable=no" />
	<meta name="renderer" content="webkit" />
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="expires" content="Fri,12Aug201718:18:18GMT" />
	<meta http-equiv="Pragma" content="no-cache" />
<!-- 	<meta http-equiv="Refresh" content="2;URL=http://www.baidu.com" /> -->
	<meta http-equiv="Window-target" content="_top" />
	<meta http-equiv="Content-Language" content="zh-cn" />

	<base href="http://localhost:3000/views/" />
	<base target="_self" />
<!-- 	<base target="_blank"> -->

	<link rel="stylesheet" href="/stylesheet/common.css" />
</head>
<body>
	<header></header>

	<section>		
		<h1>Hello Genius!!!</h1>
		<h2></h2>
		<script src="/javascript/app.js"></script>
		<a href="http://www.baidu.com">go to baidu</a>
		<br />
		<a href="test.html">go to test</a>
	</section>

	<footer></footer>
</body>
</html>